Flask
psycopg2-binary
Flask-SQLAlchemy
Flask-CORS
Flask-Login
Flask-Bcrypt
Flask-Migrate
Werkzeug

python-dateutil
python-dotenv
paramiko

flask-jwt-extended
grpcio
grpcio-tools
grpcio-reflection

celery
redis

structlog

opentelemetry-sdk
opentelemetry-exporter-jaeger-thrift
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-celery
opentelemetry-exporter-prometheus
prometheus_client
deprecated

pytest
pytest-timeout